<div class="artist-card bg-blue-100 rounded-lg p-3 shadow-sm w-full">
    <div class="text-[0.75rem] leading-[1.25rem] text-indigo-500 mb-1">
        <%= format("%02d:%02d", time.hour, time.min) %>
    </div>
    <div class="font-medium text-[0.875rem] leading-[1.25rem] text-indigo-900 line-clamp-2">
        <%= artist_name %>
    </div>
</div>