<h1><%= t ".title" %></h1>
<%= link_to t(".new"), new_timetable_path if authenticated? %> <div id="timetables">
    <% @timetables.each do |timetable| %>
    <div>
        <h2><%= link_to timetable.name, timetable %></h2>
    </div>
    <% end %>
</div>